
.tart{
    font-size: 700%;
    text-align: center;
    transform: translate(25%, 25%);
    margin-top: 5%;
    margin-left: 35%;
    z-index: 1;
    letter-spacing: 7px;
    position: absolute;
}

.sweet{
    font-size: 700%;
    text-align: center;
    transform: translate(25%, -25%);
    margin-top: 6.5%;
    letter-spacing: 7px;
    position: absolute;
}

h3{
    font-size: 60px;
    color: rgb(134, 40, 40);
    float: right;
    margin-right: 50%;
    margin-top: 30%;
    letter-spacing: 7px;
}

img{
    float: left;
    grid-column: 1/2;
    width: 50%;
    margin-left: 300px;
    display: block;
    z-index: 0;
}

.white{
    background: white;
    height: 100%;
    position: relative;
}
.white img{
    display: block;
    width: 50%;
}

.grey{
    background: rgb(146, 146, 146);
    height: 100%;
}

body{
    grid-template-columns: 1fr 1fr;
    display: grid;
}